* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  font-size: 20px;
  background-color: #eeee;
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

p {
  color: #000;
}

.hr-line {
  height: 1px;
  border-top: 1px solid #c1c1c1;
}

::placeholder {
  color: #606166;
}

.wrapper {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
  background-color: #fff;
}

nav .hamburger {
  display: none;
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 120%;
  font-weight: 800;
}

nav .logo img {
  width: 50px;
}

.left-side-container {
  display: flex;
  flex-direction: column;
}

.center-menu-container {
  margin-left: 190px;
  display: flex;
  align-items: center;
}

.center-menu-container-cancel-margin {
  margin-left: 0;
}

.center-menu-container a {
  margin: 0 25px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 90%;
  transition: ease-in 0.1s;
}

.active {
  background-color: #288dda;
  color: #fff;
}

.active i {
  color: #fff;
}

.in-active:hover {
  background-color: #0b192469;
  color: #fff;
}

.in-active:hover i {
  color: #fff;
}

.right-menu-container {
  display: flex;
}

.right-menu-container a {
  display: flex;
  align-items: center;
  margin: 3px;
  font-size: 80%;
  border-radius: 25px;
  font-weight: 800;
  transition: ease-in 0.1s;
}

.right-menu-container a:first-of-type {
  padding: 2px 6px 2px 2px;
}

.right-menu-container a {
  padding: 1px 6px;
}

.right-menu-container a img {
  margin-right: 3px;
}

.right-menu-container a i {
  margin-right: 4px;
}

.user-img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

/* Add post */

.add-post-container {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-post-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-post-text img {
  margin-right: 3px;
}

.add-post-text input {
  width: 100%;
  background-color: #e3e5e8;
  border-radius: 30px;
  border: 1px solid #e4e5eb;
  padding: 10px;
  height: 40px;
  outline: none;
}

.add-post-options {
  width: 100%;
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

.btn {
  background: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 76%;
  transition: ease-in 0.1s;
}

.btn:hover {
  background-color: #288dda;
  border: none;
  color: #fff;
}

.btn-primary {
  border: 1px solid #c1c1c1;
}

.add-post-options .btn {
  width: 100%;
}

.add-post-options .btn:first-of-type {
  margin-right: 4px;
}

/* Post card */

.post-card:first-child {
  margin-top: 10px;
}

.post-card {
  margin-bottom: 10px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

.post-wrapper:first-child,
:not(.post-wrapper) + .post-wrapper {
  margin-top: 27px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 0px 10px;
}

.post-by-image {
  display: flex;
  align-items: center;
}

.post-by-image a {
  display: flex;
  align-items: center;
}

.post-by a img {
  margin-right: 4px;
}

.post-by-name-date {
  margin-left: 4px;
}

.post-by-name-date a {
  font-size: 80%;
  font-weight: 800;
}

.post-by-name-date p {
  font-size: 60%;
}

.post-delete a {
  display: flex;
  align-items: center;
  padding: 4px 7px 4px 7px;
  border-radius: 60%;
  transition: ease-in 0.1s;
}

.post-delete a i {
  color: #000;
}

.post-delete a:hover {
  background-color: #db4437;
}

.post-delete a:hover i {
  color: #fff;
}

.post-body {
  margin: 8px 0px;
  padding: 0px 3px;
}

.post-body p {
  margin: 0 10px;
  padding: 0;
  font-size: 75%;
  font-weight: 100;
}

.post-image {
  margin: 5px 0px 6px 0px;
}

.post-image img {
  width: 100%;
}

.post-statistics {
  margin: 0 10px;
}

.post-likes-comments {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.post-likes-comments .liked {
  color: #288dda;
}

.post-likes-comments a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70%;
  padding: 3px;
  border-radius: 10px;
  width: 50%;
  transition: ease-in 0.1s;
}

.post-likes-comments a i {
  margin-right: 4px;
}

.post-comments {
  margin-top: 7px;
}

.comment-body {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #e3e5e8;
  margin-left: 4px;
  padding: 6px;
}

.comment-body .comment-date {
  font-size: 55%;
}

.comment-body .comment-text {
  margin-top: 2px;
}

.comment-body a {
  display: flex;
}

.comment-by {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 6px 10px;
}

.comment-by a i {
  color: #000;
}

.delete-comment {
  display: flex;
  align-items: center;
  padding: 5px 6px 5px 6px;
  border-radius: 60%;
  transition: ease-in 0.1s;
}

.delete-comment:hover {
  background-color: #db4437;
}

.delete-comment:hover i {
  color: #fff;
}

.comment-by div {
  display: flex;
}

.comment-body a {
  color: #000;
  margin-bottom: 2px;
  font-size: 75%;
  font-weight: 800;
}

.comment-body p {
  margin: 0;
  font-size: 70%;
}

.comment-body .comment-img {
  width: 200px;
  margin-top: 3px;
  border-radius: 5px;
}

.post-add-comment {
  position: relative;
  margin: 7px 10px 3px 10px;
  display: flex;
  flex-direction: column;
}

.add-comment {
  display: flex;
}

.post-add-comment a {
  display: flex;
  align-items: center;
}

.post-add-comment a img {
  margin-right: 4px;
}

.post-add-comment-text {
  display: flex;
  align-items: center;
  background-color: #e3e5e8;
  border-radius: 30px;
  border: 1px solid #e4e5eb;
  padding: 10px 0px 10px 10px;
  height: 40px;
  width: 100%;
}

.post-add-comment-text input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  margin-right: 4px;
}

.btn-comment {
  border-radius: 20px;
  margin-left: 0px;
  font-size: 60%;
  background-color: #288dda;
  border: none;
  color: #fff;
}

.btn-comment-disabled {
  padding: 10px;
  border-radius: 20px;
  margin-left: 0px;
  font-size: 60%;
  background-color: #7ab3df;
  border: none;
  color: #fff;
}

.btn-comment-image {
  margin-right: 4px;
}

.preview-heading {
  margin: 5px;
  text-align: center;
  font-size: 70%;
}

.comment-image-preview {
  border-radius: 4px;
  margin: 0 auto;
}

.image-preview {
  position: relative;
}

.image-preview img {
  width: 250px;
  border-radius: 5px;
}

.comment-image-cancel {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  margin: 5px;
}

/* Sidebar */

.sidebar {
  position: fixed;
  height: 100vh;
  padding-top: 70px;
  margin: 0 10px;
  max-width: 300px;
  width: 100%;
}

.sidebar__users {
  top: 0;
  left: 0;
}

.sidebar__friends {
  top: 0;
  right: 0;
}

.sidebar__notifications {
  top: 0;
  right: 0;
}

/* User card */

.user-card {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  transition: ease-in 0.1s;
  cursor: pointer;
}

.user-notification {
  justify-content: space-between;
}

.notification-container {
  display: flex;
  align-items: center;
}

.in-active:hover .user-info a {
  color: #fff;
}

.bell {
  position: relative;
}

.notification-bell {
  position: relative;
}

.notification-length {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 15px;
  left: 6px;
  font-size: 93%;
  font-weight: 500;
  background-color: #ff0000;
  color: #fff;
  padding: 1px 4px 1px 4px;
  border-radius: 50%;
}

.in-active:hover .notification-text p {
  color: #fff;
}

.in-active:hover .user-badge a {
  background-color: #fff;
  color: #000;
}

.in-active:hover .user-badge p {
  color: #fff;
}

.user-info a {
  color: #000;
  display: flex;
  align-items: center;
  font-size: 90%;
}

.user-info a img {
  margin-right: 4px;
}

.user-badge a {
  font-size: 70%;
  background-color: #288dda;
  padding: 5px;
  border-radius: 20px;
  margin-left: 5px;
  float: right;
  color: #fff;
}

.user-badge p {
  font-size: 60%;
  margin-bottom: 4px;
}

/* notifications card */

.notification-text {
  font-size: 64%;
}

.no-update {
  margin-top: 10px;
  font-size: 16px;
}

/* Profile */

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.profile-cover {
  position: relative;
  width: 800px;
  height: 300px;
  border-radius: 10px;
}

.profile-cover label:first-of-type {
  position: absolute;
  background-color: #fff;
  bottom: 44px;
  color: #000;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-cover label:last-of-type {
  position: absolute;
  background-color: #fff;
  color: #000;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-cover label:last-child {
  margin-top: 50px;
}

.profile-cover img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.no-cover {
  position: relative;
  background-color: #fff;
  width: 800px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0.5;
}

.profile-picture-preview {
  opacity: 0.7;
}

.profile-picture-overlay {
  background: #fff;
  overflow: hidden;
  border-radius: 50%;
}

.change-delete-profile-picture {
  display: flex;
  margin-bottom: 3px;
}

.change-delete-profile-picture .btn {
  margin: 0px 4px;
}

.btn-upload {
  width: 20%;
  text-align: center;
  margin: 5px;
  z-index: 1;
}

.btn-no-cover {
  background-color: #fff;
  border: none;
}

.profile-cover .upload-cover-cancel {
  margin-right: 86px;
}

label {
  cursor: pointer;
  text-align: center;
}

#cover-photo,
#profile-photo,
#post-comment,
#add-post,
#add-post-image {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.profile-picture {
  position: relative;
  margin-top: -75px;
  margin-bottom: 10px;
  z-index: 2;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  height: 60px;
}

.profile-user-margin {
  margin: 8px;
  height: 0px;
}

.profile-user-margin a {
  margin-left: 0px;
}

.profile-user-request {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-friend-message {
  margin-top: 20px;
}

.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.398);
}

.modal .modal-layout {
  width: 400px;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
}

.modal-layout .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-btns {
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

.modal-btns button {
  margin: 0 5px;
}

.profile-user .upload-profile-picture-cancel {
  display: flex;
}

.profile-user .upload-profile-picture-cancel label {
  margin: 2px 3px;
}

.profile-user label {
  margin: 4px 0px;
}

.profile-user a {
  font-size: 80%;
}

/* signup */

.signup-page {
  display: flex;
}

.heading-container {
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #288dda;
}

.heading-container h1 {
  color: #fff;
}

.form-container {
  width: 60%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form input {
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  outline: none;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.form-header h3 {
  color: #377dde;
}

.form-logo {
  display: flex;
  align-items: center;
  color: #377dde;
}

.form-logo img {
  width: 60px;
}

.btn-form {
  margin-top: 3px;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #288dda;
  color: #fff;
  border-radius: 5px;
  font-size: 80%;
}

.sign-in {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in a {
  color: #377dde;
}

/* alert */

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  padding: 5px;
  border-radius: 8px;
  z-index: 20;
  width: 500px;
  color: #fff;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85%;
  font-weight: 600;
}

.alert-danger {
  background-color: #db4437;
}

.alert-success {
  background-color: #0bb32c;
}

.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  padding: 10px;
  z-index: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar-user-img {
  width: 130px;
  margin-top: 10px;
}

.side-menu .close-sidemenu {
  margin-left: auto;
}

.side-menu-user-info a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-menu-user-info a img {
  margin-bottom: 5px;
}

.side-menu-user-friends-toggle {
  margin-top: 10px;
  background-color: #efefef;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 90%;
}

.side-menu-user-friends-toggle a {
  margin: auto 0;
}

.side-menu .sidemenu-logout {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 90%;
}

/* upto 1200px */

@media only screen and (max-width: 1200px) {
  .heading-container {
    text-align: center;
  }
}

/* 768 to 1200px */

@media only screen and (max-width: 1200px) {
  .heading-container {
    display: none;
  }
  .form-container {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .container {
    height: 100%;
    margin: 0px 10px;
  }
  .center-menu-container {
    margin-left: -100px;
  }
  .center-menu-container-cancel-margin {
    display: none;
  }
  .right-menu-container {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
  #cover-photo,
  #profile-photo,
  #post-comment,
  #add-post,
  #add-post-image {
    display: none;
  }
}

/* 481 to 767px */

@media only screen and (max-width: 767px) {
  .form-container {
    flex-direction: row;
  }
  form {
    padding: 0px 10px;
  }
  .sign-in {
    flex-direction: column;
    text-align: center;
  }
  .sign-in h3 {
    font-size: 90%;
  }
  .sign-in a {
    font-size: 90%;
  }
  .profile-cover {
    width: 500px;
    height: 200px;
  }
  .profile-info {
    padding: 0px;
  }
  .container {
    margin: 0px;
  }
  label {
    padding: 5px;
  }
  .wrapper {
    margin: 0px 10px;
  }
  .change-cover {
    font-size: 30%;
    margin-bottom: -10px;
    padding: 5px;
  }
  .delete-cover {
    padding: 5px;
    font-size: 30%;
  }
  label .btn {
    padding: 5px;
  }
  .profile-cover label:first-of-type {
    margin-bottom: -10px;
  }
  .profile-picture {
    margin-top: -40px;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }
  .change-delete-profile-picture .btn {
    padding: 4px;
    font-size: 40%;
    margin: 0px 2px;
  }
}

/* from 0 to 480px */

@media only screen and (max-width: 480px) {
  body {
    align-items: center;
  }
  .profile-cover {
    width: 250px;
    height: 200px;
  }
  nav .center-menu-container {
    display: none;
  }
  .side-menu {
    width: 250px;
  }
}
